html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.wrap{
	margin: 30px auto 0 auto;
	width: 1000px;
}
.header1{
	background-image: url(img/indeximg.jpg);
	height: 556px;
	background-repeat: no-repeat;
}
.header2{
	background-image: url(img/courseimg.jpg);
	height: 556px;
	background-repeat: no-repeat;
}
.header3{
	background-image: url(img/qaaimg.jpg);
	height: 556px;
	background-repeat: no-repeat;
}
.nav{
	background-color: #363636;
}
.nav h1 a {
	background-image: url(img/footer-logo.png);
	float: left;
	width: 146px;
	height: 44px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-bottom: 10px;
}
.nav ul{
	float: right;
}
.nav li {
	float: left;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 40px;

}
.nav li a{
	text-decoration: none;
	color: #fff;
}
.nav li a:hover{
	color: #44dab4;
	border-bottom: 3px solid #44dab4;
	padding-bottom: 15px;
}

.header1 h2{
	font-size: 40px;
	color: #44dab4;
    font-family:serif,sans-serif,cursive,fantasy,monospace;
   	margin-top: 130px;
   	margin-left: 20px;
}
.header1 span{
	font-size: 40px;
	color: #fff;
}

.header1 h3{
	font-size: 40px;
	color: #44dab4;
    font-family: Microsoft JhengHei;
   	margin-top: 30px;
 	margin-left: 20px;
}



.header2 h2{
	font-size: 40px;
	color: #fff;
	margin-top: 140px;
   	margin-left: 20px;
   	margin-bottom: 15px;
   	letter-spacing: 3px;
}
.header2 h3{
	font-size: 20px;
	color: #44dab4;
	margin-left: 20px;
	margin-top: 10px;
}

.header3 h2{
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 15px;
	letter-spacing: 3px;
}

.header3 h3{
	font-size: 20px;
	color: #44dab4;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 60px;
	letter-spacing: 2px;
}

.search{
	text-align: center;
	margin-top: 20px;
}
.search button{
	width: 570px;
	height: 25px;
	border-radius: 3px;
}
.search i{
	font-size: 20px;
	float: right;
}
.clearfix{
	clear: both;
}
.content{
	width: 1000px;
	margin: 0 auto;
} 


.content1 h3{
	color: #44dab4;
	font-size: 25px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.content1 span{
	color: #9b9b9b;
	font-size: 16px;
	padding-left: 10px;
	display: inline-block;
    padding-top: 30px;

}
.content1 >h5 {
	float: right;
	border: 1px solid #44dab4;
	border-radius: 3px;
	color: #44dab4;
	margin-top: 30px;
	margin-right: 40px;
	padding: 3px;
	letter-spacing: 1px;

}
.course{
	margin: 20px auto;
	margin-left: 60px;
}
.course1{
	width: 850px;
	margin: 20px auto;
	margin-left: 60px;
}
.course1 ol{
  list-style-type: decimal;
  padding-top: 5px;
  padding-left: 70px;
  color: #9b9b9b;
}
.course1 ul{
  list-style-type: square;
  padding-top: 5px;
  padding-left: 70px;
  color: #9b9b9b;

}
.course1 li{
  padding-left: 10px;
  line-height:20px;
}

.intro, .intro2, .intro3 {
	border: 1px solid #fff;
	width: 270px;
	height: 270px;
	float: left;
	-webkit-box-shadow: 0 3px 8px  #ccc;  
  	-moz-box-shadow: 0 3px 8px #ccc;  
  	box-shadow:0 3px 8px #ccc;
  	text-align: center;
  	margin-right: 30px;
  	padding: 5px;
}
.course h4{
	padding-bottom: 10px;
	padding-top: 10px;
}

.course p {
	color: #9b9b9b;
	line-height: 20px;
	display: inline;
	word-spacing: 3px;
}
.course1 h4{
	padding-bottom: 10px;
	margin-left: 30px;
	padding-top: 15px;
}

.course1 h6 {
	color: #9b9b9b;
	line-height: 25px;
	margin-left: 30px;

}

.diff{
	margin-top: 20px;
	margin-left: 65px;
}
.diff tr, .diff th, .diff td{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	padding:20px 65px 20px 60px;
	white-space: nowrap;
}
.diff th{
  background-color: #f7f7f7;
  color: black;
  font-weight:bold;
}

.info{
	margin-top: 50px;
	height: 250px;
	background-color: #ebebeb;
}

.infotext{
	float: left;
	margin-left: 100px;
	margin-top: 80px;
	font-size: 25px;
}
.infotext2{
	margin-left: 150px;
	padding-top: 80px;
	font-size: 25px;
}
.promo p, .promo2 p {
	background-color: #44dab4; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 60px;
}
.infodetail2 {
	background-color: #44dab4; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 60px;
}

.infodetail{
	float: left;
	margin-left: 150px;
	margin-top: 80px;
}

.infodetail textarea{
	border-radius: 5px;
	border:none;
	margin-bottom: 10px;
}

.input-wrapper input{
	height: 30px;
	width: 330px;
	color: #777;
	font-size: 15px;
	border-radius: 5px;
}

.submit{
  background-color: #44dab4; 
  border: none;
  color: white;
  padding: 10px ;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  float: right;
  border-radius: 5px;
}
.table-wrapper{
	margin-top: 20px ;
	margin-left: 10px;
	
}
.table-wrapper tr:nth-child(even) {
    background: #fff;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #ebebeb;
}

.table-wrapper td{
	text-align: left;
	padding:15px 400px 15px 50px;
}

.outline{
	margin: 90px;
}
.course2 h3, .outline h3{
	color: #44dab4;
	font-size: 25px;
}

.teach{
	float: left;
	width: 300px;
}
.teach-name{
	float: left;
	width: 200px;
	height: 244px;
}
.teach-name h3{
	color: #44dab4;
	font-size: 25px;
	padding-top: 80px;
	padding-bottom: 20px;
}
.teach-name p{
	font-size: 25px;
	color: #000;
}
.teach-expe{
	float: left;
	width: 250px;
	text-align: left;
	color: #afafaf;
}
.teach-expe ul{
	list-style: square;
	margin-top: 80px;
}
.teach-expe li{
	padding-left: 20px;
	padding-bottom: 10px;
}
.course2{
	margin-bottom: 50px;
	margin-left: 90px;
}

.course2 > h3{
	letter-spacing:10px;
}
.course2 span, .outline span{
	color: #9b9b9b;
	font-size: 16px;
	padding-left: 20px;
}
.course2 ol{
	list-style-type: decimal;
	margin-left: 20px;
	margin-top: 20px;
	width: 670px;
}
.course2 li{
	padding-bottom: 10px;
	line-height: 20px;
	padding-left: 10px;
}
.color {
  color:#42b392;
}
.course1 .color {
	color: #42b392;
	display: inline-block;
}
.footer{
	height: 90px;
	background-color: #323228;
}
.footer-logo {
	float: left;
	margin-left: 60px;
	margin-top: 15px;
}
.footer-logo p{
	color: #8d8d8c;
	font-size: 13px;
	margin-left: 50px;
}

.footer-nav ul{
	float: right;
	margin-right: 80px;
}
.footer-nav li{
	float: left;
	padding-right: 15px;
	margin-top: 30px;
}